{% extends "base.html" %}
{% block scripts %}
{{ super() }}
<script type="text/javascript">
    const kiosk = {{ kiosk }} //kiosk mode or not
    var prevModal = null
    var evtSource = null
    var ignoreUpdate = false
    var scrollTimer = null
    var ignoreTimer = null

    window.onload = (event) => {
        console.log("Window is fully loaded, kiosk mode", kiosk);
        startSSE()
    }
    
    window.onscroll = function (e) {  
        // called when the window is scrolled.
        if (scrollTimer !== null) {
            clearTimeout(scrollTimer)
        }
        if (window.scrollY) {
            scrollTimer = setTimeout(() => {scrollTop()}, 5*60000); //NOTE: period is passed in milliseconds 
        }        
    }
    
    function scrollTop() {
        //scroll to top of page
        if (window.scrollY) {
            console.log('scrolling to top of page')
            window.scrollTo({ top: 0, behavior: 'smooth' });
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
            document.body.scrollTop = 0;            // For Safari
        }
    }
    
    function startSSE() {
            //get current displayed image id and other events
            console.log('SSE starting')
            evtSource = new EventSource("/SSE")
            evtSource.onopen = () => {
                console.log('SSE connected')
            }
            evtSource.onerror = (error) => {
                console.error('SSE failed', error)
                //evtSource.close()
            }
            evtSource.addEventListener('message', function (e) {
                console.log('SSE received: ', e.data);
                switch(e.data) {
                    case 'off':
                        hidePrevModal()
                        prevModal = null
                        break;
                    case 'refresh':
                        window.open(self.location, '_self')
                        break;
                    default:
                        if (ignoreUpdate) {
                            console.log('ignoring update: ', e.data)
                        } else if (kiosk) {
                            displayModal(e.data)
                        }
                }
            });
        }
        
    function hidePrevModal() {
        if (prevModal !== null) {
            console.log("hiding previous modal: ", prevModal._element.id)
            prevModal.hide()
        }
    }
    
    function isDuplicate(name) {
        if (prevModal !== null) {
            if (prevModal._element.id == getModalWindow(name)) { 
                console.log("NOT Displaying duplicate text for: ", name)
                return true
            }
        }
        return false
    }
    
    function getModalWindow(name) {
        //get textModal id from filename
        return 'textModal-'+name.substring(0, name.lastIndexOf('.')) || name
    }
    
    function setIgnore(set) {
        ignoreUpdate = set
        console.log('ignoreUpdate set to: ', set)
        if (ignoreTimer !== null) {
            clearTimeout(ignoreTimer)
        }
        if (set) {
            ignoreTimer = setTimeout(() => {setIgnore(false)}, 10*1000);
        }
    }
    
    function showImage(name) {
        //show modal, and trigger display on TV using ajax fetch
        prevModal = null
        setIgnore(true)
        displayModal(name);
        console.log("Show Image on TV: ", name)
        const url = '/show_image/' + name
        fetch(url).catch((error) => console.log('Fetch error: ', error))
    }
    
    function displayModal(name) {
        if (!isDuplicate(name)) {
            console.log('displaying modal: ', name)
            const url = '/modal/' + name
            fetch(url)
            .then((response) => response.text())
            .then((text) => {
                    document.getElementById('modal').innerHTML=text;
                    hidePrevModal()
                    var modalWindow = getModalWindow(name)
                    var myModal = new bootstrap.Modal(document.getElementById(modalWindow), {})
                    prevModal = myModal
                    console.log("Displaying text for: ", modalWindow);
                    myModal.show()
                })
            .catch((error) => console.log('Modal Window Fetch error: ', error))
        }
    }
    
</script>
{% endblock %}
{% block content %}
<h5 class="pb-2 mt-4 mb-2 border-bottom text-center">Click on a Picture</h5>
<div class="container" >
  <div class="row row-cols-2"> <!-- Number of columns here eg row-cols-3 -->
  {% for name in names %}
    <div class="col">
      <button type="button" onclick="showImage('{{name}}')" class="btn btn-primary" >
        <img class="img-fluid img-thumbnail" src="{{ url_for('static',filename=name) }}" alt="{{ name }}" >
      </button>
    </div>
  {% endfor %}
  </div>
</div>
<!-- Placeholder for Modal Window -->
<div id="modal"></div>
{% endblock %}