{% extends "base.html" %}
{% from 'macros.html' import render_modal %}
{% block scripts %}
{{ super() }}
<script type="text/javascript">
    const timeout = 10000; //modeal timeout in mS
    
    //refresh page
    setTimeout("window.open(self.location, '_self');", 5*60000); //NOTE: period is passed in milliseconds
    
    //scroll to top on refresh
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    document.body.scrollTop = 0; // For Safari
    
    function showImage(name, modalWindow) {
        //show modal, and trigger display on TV using ajax fetch
        console.log("Show Image on TV: ", name);
        const url = '/show_image/' + name;
        fetch(url).catch((error) => console.log('Fetch error: ', error))
        var myModal = new bootstrap.Modal(document.getElementById(modalWindow), {})
        myModal.show()
        setTimeout(function(){
            myModal.hide()
        }, timeout);
    }
</script>
{% endblock %}
{% block content %}
<h5 class="pb-2 mt-4 mb-2 border-bottom text-center">Click on a Picture</h5>
<div class="container" >
  <div class="row row-cols-2"> <!-- Number of columns here eg row-cols-3 -->
  {% for name,value in data.items() %}
    <div class="col">
      <button type="button" onclick="showImage('{{name}}', 'textModal-{{value.id}}')" class="btn btn-primary" >
        <img class="img-fluid img-thumbnail" src="{{ url_for('static',filename=name) }}" alt="{{ name }}" >
      </button>
    </div>
    {{ render_modal(value) }}
  {% endfor %}
  </div>
</div>
{% endblock %}