{% extends "base.html" %}
{% from 'macros.html' import render_modal %}
{% block scripts %}
{{ super() }}
<script type="text/javascript">
    const kiosk = {{ kiosk }} //kiosk mode or not
    var prevModal = null

    window.onload = (event) => {
        console.log("Window is fully loaded, kiosk mode", kiosk);
        startSSE()
    }
    
    window.onscroll = function (e) {  
        // called when the window is scrolled.
        window.clearTimeout()
        setTimeout(() => {scrollTop()}, 5*60000); //NOTE: period is passed in milliseconds        
    }
    
    function scrollTop() {
        //scroll to top of page
        console.log('scrolling to top of page')
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        document.body.scrollTop = 0;            // For Safari
    }
    
    function startSSE() {
            //get current displayed image id and other events
            console.log('SSE starting')
            var evtSource = new EventSource("/SSE")
            evtSource.onopen = () => {
                console.log('SSE connected')
            }
            evtSource.onerror = (error) => {
                console.error('SSE failed', error)
                //evtSource.close()
            }
            evtSource.addEventListener('refresh', function (e) {
                console.log('SSE refresh: ', e.data);
                window.open(self.location, '_self')
            });
            evtSource.addEventListener('power', function (e) {
                console.log('SSE power: ', e.data);
                hidePrevModal()
                prevModal = null
            });
            evtSource.addEventListener('message', function (e) {
                console.log('SSE image id: ', e.data)
                var modalWindow = 'textModal-'+e.data
                if (kiosk) {
                    displayModal(modalWindow)
                } else {
                    isDuplicateAndHide(modalWindow)
                }
            });
        }
        
    function hidePrevModal() {
        if (prevModal !== null) {
            console.log("hiding previous modal: ", prevModal._element.id)
            prevModal.hide()
        }
    }
    
    function isDuplicateAndHide(modalWindow) {
        if (prevModal !== null) {
            if (prevModal._element.id == modalWindow) { 
                console.log("NOT Displaying duplicate text for: ", modalWindow)
                return true
            }
            hidePrevModal()
        }
        return false
    }
    
    function showImage(name, modalWindow) {
        //show modal, and trigger display on TV using ajax fetch
        prevModal = null
        displayModal(modalWindow);
        console.log("Show Image on TV: ", name)
        const url = '/show_image/' + name
        fetch(url).catch((error) => console.log('Fetch error: ', error))
    }
    
    function displayModal(modalWindow) {
        console.log('displaying modal: ', modalWindow)
        if (!isDuplicateAndHide(modalWindow)) {
            var myModal = new bootstrap.Modal(document.getElementById(modalWindow), {})
            prevModal = myModal
            console.log("Displaying text for: ", modalWindow);
            myModal.show()
        }
    }
    
</script>
{% endblock %}
{% block content %}
<h5 class="pb-2 mt-4 mb-2 border-bottom text-center">Click on a Picture</h5>
<div class="container" >
  <div class="row row-cols-2"> <!-- Number of columns here eg row-cols-3 -->
  {% for name,value in data.items() %}
    <div class="col">
      <button type="button" onclick="showImage('{{name}}', 'textModal-{{value.id}}')" class="btn btn-primary" >
        <img class="img-fluid img-thumbnail" src="{{ url_for('static',filename=name) }}" alt="{{ name }}" >
      </button>
    </div>
    {{ render_modal(value) }}
  {% endfor %}
  </div>
</div>
{% endblock %}