 {% macro render_modal(value) %}
  <!-- Modal -->
  <div class="modal fade" id="textModal-{{value.id}}" tabindex="-1" aria-labelledby="DisplayImage" aria-hidden="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img src="{{ url_for('static',filename=value.name) }}" width=20% >&nbsp;
          <h5 class="modal-title" id="itemLabel">{{ value.header }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal-body">
          {% if value.description is defined %}
            <p>{{ value.description }}</p>
          {% endif %}
          {{ value.details }}
        </div>
        {% if value.location is defined and value.time is defined %}
          <div class="modal-footer">
            Location: {{ value.location }} Time: {{ value.time }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- End Modal -->
{% endmacro %}